extends layout

block content
  section
    h1 Welcome to Recordly!
    if (!user)
      p
        <a href="/login">Login</a> if you already have an account. Otherwise, <a href="/register">register</a>.
    if (user)
      p Welcome back! You are logged in as #{user.username}
      a(href='/logout') Logout
