extends layout

block content
  if (!user)
    a(href='/login') Login
    br
    a(href='/register') Register
  if (user)
    p Welcome back to Recordly! You are logged in as #{user.username}
    a(href='/logout') Logout
