doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/assets/styles.css')
    script(defer, src='/assets/app.js')
  body
    header
      h1
        a(href='/')
          img(src='/assets/img/recordly.png', alt='Recordly')
    block content
    footer
      p Thanks for using Recordly!
