extends layout

block content
  section
    h1 Login
    p Enter your username and password to log in to Recordly.
    form(role='form', action='/login', method='post')
      label
        input(type='text', name='username', placeholder='Username')
      label
        input(type='password', name='password', placeholder='Password')
      button(type='submit') Submit
