extends layout

block content
  section
    h1 Register
    p Use the form below to register an account with Recordly.
    form(role='form', action='/register', method='post')
      label
        input(type='text', name='username', placeholder='Username')
      label
        input(type='password', name='password', placeholder='Password')
      button(type='submit') Submit
